.confirmButton {
  margin: auto;
  margin-right: 10px;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.coronaToggleOn {
  margin: auto;
  background-color:  #1976d2;
}

.coronaToggleOff {
  margin: auto;
  background-color: turquoise;
}

.hasCorona {
  margin: auto;
}