.App{
  background-color: #F9FAFB;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

.container{
  display:flex;
}
.grid-container{
  display: inline-grid;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.left-box{
  grid-column: 1/5;
}

.right-box{
  grid-column: 5/7;
}

.bottom-left-box{
  grid-column: 1/3;
}

.bottom-right-box{
  grid-column: 3/7;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
